h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #cecece;
    padding-bottom: 10px;
    font-weight: 300;
}

main {
    max-width: 800px;
    margin: 0 auto;
}
